<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- Meta tags essenciais para um documento HTML -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie sua Conta</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link para o CSS do Font Awesome para ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        
        body {
            /* Define a fonte padrão para o corpo do documento */
            font-family: Arial, sans-serif;

            /*Define a imagem de fundo da página */
            background-image: url('/images/texturaCadastro.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* Estiliza a barra de navegação */
        .navbar {
            background-color: #f5f5e9; 
            padding: 10px 20px; 
        }

        /* Estiliza a marca da barra de navegação */
        .navbar-brand {
            font-weight: bold; 
            color: #325538; 
        }

        /* Estiliza os links de navegação */
        .navbar-nav .nav-link {
            color: #325538; 
            margin-right: 15px; 
        }

        /* Estiliza os links de navegação ao passar o mouse */
        .navbar-nav .nav-link:hover {
            color: #285128; 
        }

        /* Estiliza os ícones dos links de navegação */
        .navbar-nav .nav-link i {
            font-size: 1.2rem; 
        }

        /* Estiliza a seção de registro */
        .register-section {
            background-color: #f7f7f7; 
            padding: 40px; 
            display: flex;
            flex-direction: column;
            justify-content: center; 
            
        }

        /* Estiliza o título na seção de registro */
        .register-section h2 {
            color: #325538; 
            font-size: 2.5rem; 
            font-weight: bold; 
            margin-bottom: 20px; 
        }

        /* Estiliza os campos de formulário */
        .form-control {
            border: 2px solid #325538; 
            border-radius: 8px; 
        }

        /* Estiliza os placeholders dos campos de formulário */
        .form-control::placeholder {
            color: #325538; 
        }

        /* Estiliza o botão de envio do formulário */
        .btn-outline-success {
            background-color: #325538;
            color: white; 
            border: none;
            padding: 10px 20px; 
            border-radius: 8px; 
            font-size: 1.2rem; 
        }

        /* Estiliza o botão de envio do formulário ao passar o mouse */
        .btn-outline-success:hover {
            background-color: #38a438; 
        }

        /* Estiliza os links na seção de login */
        .link-login a {
            color: #325538;
        }

        /* Estiliza os links na seção de login ao passar o mouse */
        .link-login a:hover {
            text-decoration: underline; 
        }

        /* Estiliza a imagem na seção de imagem */
        .image-section img {
            max-width: 100%; 
            height: auto; 
            border-radius: 8px; 
        }
    </style>
</head>
<body>
    <!-- Barra de navegação com logotipo e links de navegação -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Abandono Zero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Participe da Pesquisa</a>
                </li>        
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Seção principal de cadastro -->
    <div class="container">
        <div class="row justify-content-center">
            <!-- Coluna principal para o formulário de cadastro -->
            <div class="col-lg-6 col-md-8 col-sm-10 register-section">
                <h2>Cadastre-se</h2>
                <!-- Formulário de cadastro -->
                <form>
                    <!-- Grupo de entrada para email -->
                    <div class="form-group">
                        <!-- Etiqueta para o campo de email -->
                        <label for="user_email">Email:</label>
                        <!-- Campo de entrada para email -->
                        <input type="email" class="form-control" id="user_email" name="email_user" placeholder="Coloque aqui o seu email" required>
                    </div>
                    
                    <!-- Grupo de entrada para senha -->
                    <div class="form-group">
                        <!-- Etiqueta para o campo de senha -->
                        <label for="user_password">Senha:</label>
                        <!-- Campo de entrada para senha -->
                        <input type="password" class="form-control" id="user_password" name="user_password" placeholder="Coloque aqui a sua senha" required>
                    </div>
                    
                    <!-- Grupo de entrada para confirmação de senha -->
                    <div class="form-group">
                        <!-- Etiqueta para o campo de confirmação de senha -->
                        <label for="confirm_password">Confirme a sua senha:</label>
                        <!-- Campo de entrada para confirmação de senha -->
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirme a sua senha" required>
                    </div>
                    
                    <!-- Botão para enviar o formulário -->
                    <div>
                        <button type="submit" class="btn btn-outline-success btn-block">Criar</button>
                    </div>
                    
                    <!-- Link para a tela de login -->
                    <div class="link-login mt-3">
                        <p>Já tem uma conta? <a href="/login">Faça login!</a></p>
                    </div>
                </form>
            </div>
            
            <!-- Coluna para uma imagem de um cachorro abandonado -->
            <div class="col-lg-6 col-md-8 col-sm-10 image-section d-flex align-items-center justify-content-center mt-4 mt-lg-0">
                <img src="/images/dogCadastro.png" class="img-fluid" alt="Imagem de um cachorro marrom que foi abandonado">
            </div>
        </div>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>